*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    border: 0;
    margin: 0;
    max-width:1440px;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    overflow-x: hidden;
    
}
header{
    max-height: 156px;
    margin-top: 26.12px;
    display: flex;
    align-items: center;
    justify-items: center;
}
header img{
    margin-left: 3.4%;
    width: 246px;
    height: 101.76px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: left;
    margin-left: 39%;
    right: 30px;
}
nav ul a{
    margin-left:77px ;
    text-decoration: none;
    color: black;  
   /* display: none;*/
}
nav ul a:hover{
    color: #fa4a0c;
}
.responsive-nav{
   display: none;
}
.responsive-nav .menu{
    background-color: #fa4a0c;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10rem;
    transition: .3s ease;
    margin-top: 0;
    z-index: 1;
}
.responsive-nav .menu.active{
    right: 0;
}
.responsive-nav nav{
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    padding: 0.5rem;
    display: flex;
    background-color: white;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    line-height: 2;
    color: white;
}
.hamburger{
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
}
.hamburger span{
    height: 3px;
    width: 20px;
    background-color: #737373;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 1;
}
.hamburger span:nth-child(1){
    top: 25%;
}
.hamburger span:nth-child(3){
    top: 75%;
}
.hamburger.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
@media screen and (max-width:1413px) {
    nav{
        margin-left: 30%;
    }   
}
@media screen and (max-width:1215px) {
    nav{
        margin-left: 10%;
    }   
}
@media screen and (max-width:1005px) {
    nav{
        margin-left: 0;
    }   
}
@media screen and (max-width:850px) {
    .responsive-nav{
        display: flex;
    }
    nav ul a{
        display: none;
    }
    header img{
        margin-right: 50%;

    }
}

@media screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    header img{
        width: 120px;
        height: 51.37px;
        margin-left: 9px;
        margin-right: 60%;
    }
    .responsive-nav{
        display: flex;
    }
    nav ul a{
        display: none;
    }
    
}
/*---------first section--------*/
.firstsection-wrapper{
    background-image: url(website\ images/Rectangle\ 48.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    max-width: 1440px;
    width: 100%;
    
}
.firstsection{
    max-width: 1005px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    position: relative;
    justify-self: center;
}
.firstsection h3{
    margin-top: 60px;
    font-weight:700;
    font-size: 24px;
    line-height: 36px;
    color: #F6F6F6;
}
.firstsection h1{
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #ffffff;
    font-family:'Poppins';
}
.firstsection h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #F6F6F6;
}
.firstsection .buttons{
    margin-top: 20px;
    
}
.firstsection button{
   width: 236px;
   height: 68px;
   border-radius: 30px;
   font-weight: 700;
   font-size: 24px;
   line-height: 36px;
   letter-spacing: 0.1px;
   margin-right: 20px;
   color: white;
   border: 1px;
   background-color: transparent;
   border-color: white;
   border-style: solid;
   cursor: pointer;
  
}
.firstsection button:hover{
    border: 0;
    background-color: #fa4a0c;
}
.firstsection img{
    position: absolute;
    top: 350px;
    left: 100px;
    width: 548px; 
    height: 640px; 
    display: none;
}
.firstsection .background{
    margin-top: 30px;
    width: 1005px;
    height: 600px;
    background-image: url(website\ images/Group\ 53.png);
    background-repeat:no-repeat ;
    background-position: 20% 55%;
    
}
hr{
    margin-top: 300px;
    padding: 0.5px;
    background-color: grey;
    width: 80%;
    color: grey;
}
@media screen and (max-width:600px) {
    .firstsection-wrapper{
        background-image:none;
        background-color: #fafafa;
    }
    .firstsection h3{
        font-size: 16px;
        line-height: 24px;
        color: #737373;
    }
    .firstsection h1{
        font-size: 36px;
        line-height: 42.5px;
        color: #252B42;
        width: 411px;
    }
    .firstsection h1 br{
        display: none;
    }
    .firstsection h4{
        width: 342px;
        font-size: 24px;
        line-height: 38px;
        color: #737373;
    }
    .firstsection .buttons{  
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .firstsection button{
        margin-bottom: 16px;
        color: #fa4a0c;
        border-color: #fa4a0c;
    }
    .firstsection button:hover{
        color: white;
    }
    .background{
        display: none;
    }
    .firstsection img{
        position: absolute;
        top: 450px;
        left: -50px;
        width: 450px; 
        height: 600px; 
        display: block;
        margin-top: 0;

    }
    
}
/*-------------SECOND SECTION------------*/
.secondsection-wrapper{
    text-align: center;
    max-width: 1440px;
    width: 100%;
    
}
.secondsection-wrapper h1{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    opacity: 80%;
    margin-bottom: 0;
}
.secondsection{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
}
.secondsection .info{
    text-align: left;
    width: 568px;
}
.secondsection .image img{
    height: 600px;
    width: 402px;
    object-fit: cover;
    margin-right: 80px;
}
.secondsection div h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}
.secondsection div h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.secondsection div h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
@media screen and (max-width:600px) {
    .secondsection-wrapper hr{
        width: 100%;
        margin-top: 0;
        color: #eae4e4;

    }
    .secondsection-wrapper h1{
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #000000;
        margin-top: 500px;
    }
    .secondsection-wrapper .heading{
        display: flex;
        flex-direction: column-reverse;
    }
    .secondsection{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
        
    }
    .secondsection .info{
        margin-bottom: 50px;
        width: 357px;
        height: 406px;
    }
    .secondsection .image{
        text-align: center;
        width: 650px;
        height: 581px;
    }
    .secondsection .image img{
        width: 650px;
        height: 581px;
        object-fit: scale-down;
        margin-right: 0;
    }
    .secondsection h3{
        text-align: center;
    }
    .secondsection h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    .secondsection h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    
}
/*--------------Third section----------*/
.thirdsection-wrapper{
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
}
.thirdsection{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdsection .info{
    text-align: left;
    width: 568px;
    height: 280px;
    /*margin-left:15% ;*/
    /*margin-right: 40px;*/
}
.thirdsection .info h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}
.thirdsection .info h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    width: 480px;
    height: 114px;
}
.thirdsection .info h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
.thirdsection .image img{
   /* width: 269px;
    height: 525px;
    object-fit: cover;*/
    height: 600px;
    width: 402px;
    object-fit: cover;
}
@media screen and (max-width:600px) {
    .thirdsection-wrapper{
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .thirdsection{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .thirdsection .info{
        text-align: center;
        justify-items: center;
        margin-bottom: 120px;
    }
    .thirdsection .info h2{
        width: 327px;
        height: 171px;
    }

    .thirdsection .image{
        justify-items: center;
        align-self: center;
        align-content: center;
    }
    .thirdsection .image img{
        width: 650px;
        height: 581px;
        object-fit: scale-down;
    }
    .thirdsection h3{
        text-align: center;
    }
    .thirdsection h2{
        text-align: center;
        width: 327px;
    }
    .thirdsection h4{
        text-align: center;
        width: 257px;
    }
}
/*-----------Fourth section-----------*/
.fourthsection-wrapper{
    text-align: center;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
    align-self: center;
}
.fourthsection{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.fourthsection .info{
    text-align: left;
    width: 568px;
    height: 280px;
}
.fourthsection .info h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}
.fourthsection .info h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.fourthsection .info h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 460px;
    height: 76px;

}
.fourthsection .image img{
    /*height: 511px;
    width: 278px;
    object-fit: cover;*/
    height: 600px;
    width: 402px;
    object-fit: cover;
    margin-right: 80px;
}
@media screen and (max-width:600px) {
    .fourthsection{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .fourthsection .info{
        width: 336px;
        height: 411px;
        justify-items: center;
        margin-bottom: 50px;
    }
    .fourthsection .info h3{
        width: 123px;
        text-align: center;
    }
    .fourthsection .info h2{
        width: 310px;
        text-align: center;
    }
    .fourthsection .info h4{
        text-align: center;
        width: 257px;
    }
    .fourthsection .image{
        text-align: center;
        width: 650px;
        height: 581px;
    }
    .fourthsection .image img{
        width: 650px;
        height: 581px;
        object-fit: scale-down;
        margin-right: 0;
    }

    
}
/*-------------fifth section------------*/
.fifthsection-wrapper{
    margin-top: 50px;
    background-image: url(website\ images/Rectangle\ 47.png);
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 509px;
    max-width: 1440px;
    width: 100%;
}
.fifthsection{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.fifthsection h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.fifthsection h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.fifthsection span{
    display: none;
}
.fifthsection .buttons{
    margin-top: 20px;
}
.fifthsection button .other-text{
    display: none;
}
.fifthsection button{
    width: 142px;
   height: 64px;
   border-radius: 10px;
   font-weight: 700;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.2px;
   margin-right: 10px;
   color: white;
   border: 1px;
   background-color: transparent;
   border-color: white;
   border-style: solid;
   cursor: pointer;
}
.fifthsection button:hover{
    border: 0;
    background-color: #fa4a0c;
}
@media screen and (max-width:600px) {
    .fifthsection-wrapper{
        width: 100%;
        background-image: none;
        background-color:#252B42 ;
        height: 564px;
    }
    .fifthsection{
        justify-items: center;
    }
    .fifthsection h2{
        width: 310px;
    }
    .fifthsection h4{
       display: none;
        
    }
    .fifthsection span{
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        display: block;
        font-weight: 500;
        line-height: 38px;
        font-size: 24px;
        letter-spacing: 0.2px;
        width: 245px;
        color: #bdbdbd;
        margin-bottom: 30px;
    }
    .fifthsection button .real-text{
        display: none;
    }
    .fifthsection button .other-text{
        display: block;

    }
}
/*-------------footer----------*/
footer{
    height: 200px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
footer div{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1210px;
    height: 133px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icons img{
    margin-right: 20px ;
}
.footer-wrapper span{
    display: none;

}
@media screen and (max-width:1413px) {
    footer div{
       width: 100%;
    }   
}
@media screen and (max-width:600px) {
    .footer-wrapper{
        justify-items: center;
        display: flex;
        flex-direction: column;
    }
   .logo{
    display: none;
   }
   .copyright{
    display: none;
   }
    footer div{
        width: 100%;
    }
    .footer-wrapper span{
        display: block;
    }
}